n8n/rag-supabase-agent/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1NPD0icM3IOykwICSjAUCBJ8OYMEC_nY-",
          "mode": "list",
          "cachedResultName": "rag profesional",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1NPD0icM3IOykwICSjAUCBJ8OYMEC_nY-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -288
      ],
      "id": "6801790f-1c9a-4592-87fe-f1621c40c37b",
      "name": "Archivo_creado",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxcvuhTHQNcoVdF1",
          "name": "Google Drive account rag profesional"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1NPD0icM3IOykwICSjAUCBJ8OYMEC_nY-",
          "mode": "list",
          "cachedResultName": "rag profesional",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1NPD0icM3IOykwICSjAUCBJ8OYMEC_nY-"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "86baa211-9196-4b04-bcf4-68f73714b13b",
      "name": "Archivo_actualizado",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxcvuhTHQNcoVdF1",
          "name": "Google Drive account rag profesional"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc02cca9-b588-4243-9aa8-a921ea20a1d4",
              "name": "=file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "3d71f712-54d0-4b5a-b609-c89a58df95b6",
              "name": "tipo_documento",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -176
      ],
      "id": "0225b232-e44b-499e-8523-616cf572afc4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "rag_profesional",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -176
      ],
      "id": "bfe17b45-7e05-45ae-96a2-33d755fd8a56",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "F41x7AmQJ6tcuEwl",
          "name": "Supabase rag_profesional"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        -176
      ],
      "id": "f0f878f3-3235-46ea-bd90-2ab9539205a0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxcvuhTHQNcoVdF1",
          "name": "Google Drive account rag profesional"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.tipo_documento }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ac228843-96a0-458f-9329-6e000cd484f6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1971017-28e5-4204-9d3a-a46cedf57b03",
                    "leftValue": "={{ $('Edit Fields').item.json.tipo_documento }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60d42694-955c-4f30-9e48-15ead954f3dc",
                    "leftValue": "={{ $('Edit Fields').item.json.tipo_documento }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5692f3e1-8715-49d6-a4a6-e2dc8bbacf58",
                    "leftValue": "={{ $('Edit Fields').item.json.tipo_documento }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XLSX"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        -224
      ],
      "id": "923a7ece-0da9-40e0-a283-00f862fbdd98",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1552,
        -480
      ],
      "id": "039a49d3-9416-4e24-8685-e70427b05639",
      "name": "PDF"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1552,
        -288
      ],
      "id": "ab3db7ed-1e90-40e8-8622-35a4bd4e3f6f",
      "name": "DOC"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1552,
        -80
      ],
      "id": "18f4813c-9a21-412b-a01f-98671955c731",
      "name": "CSV"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1104,
        128
      ],
      "id": "f0e4fb82-ef1d-49e0-840e-928ac5e221ee",
      "name": "EXCEL"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1328,
        128
      ],
      "id": "c0be56cb-4a18-4319-b0e0-189ac4f94e08",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1552,
        128
      ],
      "id": "5c37893d-cb25-402c-8d0a-548d2dcc73f8",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "rag_profesional",
          "mode": "list",
          "cachedResultName": "rag_profesional"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1792,
        -176
      ],
      "id": "e19d83ef-1003-49e1-a310-0038f2aaeafd",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "F41x7AmQJ6tcuEwl",
          "name": "Supabase rag_profesional"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        48
      ],
      "id": "fb406fc7-de34-470a-b295-88ba35379748",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Nr0rU0aTblZtLgGx",
          "name": "OpenAi account Karajo Tek"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1888,
        48
      ],
      "id": "425ca065-e000-43b4-a169-b2058a8e5ee7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 80,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1968,
        240
      ],
      "id": "d96c2d1d-5939-4cc1-9228-9b7dfc99378c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        -1008
      ],
      "id": "6fc5a58c-97ce-482d-a1b0-b2b162fa36ba",
      "name": "When chat message received",
      "webhookId": "08f6366c-a95f-48fb-9b24-42caae3ba9c6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un agente inteligente cuyo propósito fundamental consiste en la resolución de dudas relacionadas con la información técnica contenida en la base de datos. Siempre ofreces respuestas que están incluida en esta base de datos y nunca inventarás información.\n\nHerramienta disponible: \"base_de_datos\"\n\nCómo utilizar herramienta: \"base_de_datos\" siempre se utilizará para todas las interacciones. Aquello que se encuentre fuera de esta base de datos no será respondido sin rigor.\n\nSi el usuario hace preguntas en español, consulta la base de conocimiento en inglés y responde en español.\n\nEjemplo:\n\n- Usuario: \"Cómo creo un prompt para un agente\"\n- System: \"Información de la herramienta \"base_de_datos\"\"\n\nExcepciones:\n\n- Usuario: \"Consulta fuera de la base de conocimiento\"\n- System: \"Lo siento, actualmente no contamos con este tipo de información en nuestra base de conocimientos\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        -1008
      ],
      "id": "8d58b5aa-c5ab-4f8c-a219-09b2cbbd0642",
      "name": "Agente rag_profesional"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        -784
      ],
      "id": "ff07f14c-5817-4eb5-835b-f3837e86ae65",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WzXoVQ6J4DpJkCVd",
          "name": "OpenAi account (Open Router)"
        }
      }
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta para responder a todas las consultas del usuario"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        592,
        -784
      ],
      "id": "ae5b9205-9d00-4438-a990-b60d85931765",
      "name": "base_de_datos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        -592
      ],
      "id": "bfe3a9e1-1b4c-4e95-84e7-c5e5b6f8e538",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Nr0rU0aTblZtLgGx",
          "name": "OpenAi account Karajo Tek"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "rag_profesional",
          "mode": "list",
          "cachedResultName": "rag_profesional"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        496,
        -592
      ],
      "id": "132bc08c-1030-4e49-8f07-1ce36f9b6690",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "F41x7AmQJ6tcuEwl",
          "name": "Supabase rag_profesional"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        -384
      ],
      "id": "3d81240a-3f75-4247-b683-2da55782c0e5",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Nr0rU0aTblZtLgGx",
          "name": "OpenAi account Karajo Tek"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        480,
        -784
      ],
      "id": "2ce1f260-22bb-4e84-82d3-267fe28fe283",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "NWCb6aVgPU2b7imo",
          "name": "rag_profesional"
        }
      }
    }
  ],
  "connections": {
    "Archivo_creado": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archivo_actualizado": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EXCEL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOC": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXCEL": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agente rag_profesional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente rag_profesional",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "base_de_datos": {
      "ai_tool": [
        [
          {
            "node": "Agente rag_profesional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "base_de_datos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "base_de_datos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente rag_profesional",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a800cfd0d4b417777624c84bfb0dd95e70307b6f8585d3eee897af4b381ad4d3"
  }
}
